@import "tailwindcss";

.inner-wrap {
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
}

.inner-card {
    border-radius: 8px;
    padding: 24px;
    flex:1;
    color:white;
}

.inner-card.flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.inner-card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding:10px;
    border-radius: 8px;
}

.inner-container {
    display: flex;
    gap: 24px;
}

.form-row {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.form-row > * {
    flex:1;
}

.form-row label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 6px;
    color:white;
}

.form-row select, .form-row input {
    padding: 10px;
    background-color: rgb(51 65 85 / 0.5);
    border-radius: 4px;
    color:white;
}

.form-row select::placeholder, .form-row input::placeholder {
    color: white;
}

.form-row button:hover {
    cursor: pointer;
}

.transactions-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inner-card-transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 14px;
}

.inner-card-transaction:hover {
    cursor: pointer;
}

.transaction-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(6px);     
    -webkit-backdrop-filter: blur(6px); 
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.transaction-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 40px;
    width: 50%;
    position: relative;
}

.transaction-modal form .form-row {
    width: 100%;
}

.transaction-modal button {
    text-wrap: nowrap;
    border-radius: 8px;
    padding: 10px;
    font-weight: 700;
}

.transaction-modal .close-btn {   
    position:absolute;
    right: 2%;
    top: 3%;
    cursor: pointer;
}

.transaction-modal .close-btn svg {
    height: 24px;
    width: 24px;
}


.left-inner {
    display: flex;
    flex-direction: column;
}

.goals-cards {
    flex-wrap: wrap;
}

.goals-cards .inner-card {
    min-width: 316px;
}

.goal-amounts {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: white;
}

.top-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: flex-start;
}

.bottom-card {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.bottom-card form {
    
    display: flex;
    gap: 10px;

}

.goal-quick-add {
    /* border: 1px solid rgb(228 228 231);
    background: white;
    font-weight: bold; */
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease-in;
}

.goal-quick-add:hover {
    background: black;
    color:white;
    cursor: pointer;
}

.bottom-card input[type="number"] {
    padding: 8px;
    font-size: 16px;
    max-width: 100px;
    font-weight: bold;
    border-radius:8px;
}

.bottom-card button[type="submit"] {
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius:8px;

}

.bottom-card button[type="submit"]:hover {
    cursor: pointer;
}

.budget-row {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.chat-heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-heading div {
    display: flex;
    gap: 10px;
}

.chat-convo {
  padding: 1rem;
  flex: 1;
  overflow-y: auto;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-bubble {
  padding: 0.75rem 1rem;
  border-radius: 18px;
  max-width: 70%;
  word-wrap: break-word;
}

.chat-bubble.user {
  align-self: flex-end;
  /* background-color: #007bff;
  color: white; */
  border-bottom-right-radius: 0;
}

.chat-bubble.ai {
  align-self: flex-start;
  /* background-color: #f1f1f1;
  color: #333; */
  border-bottom-left-radius: 0;
}

.chat-input {
  display: flex;
  padding: 0.75rem 1rem;
  gap: 0.5rem;
}

.chat-input-buttons {
    padding: 0.75rem 1rem;
    display: flex;
    gap:10px;
}

.chat-input input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.chat-input button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.chat-input-buttons button:hover {
    cursor: pointer;
}